body {
	height: auto;
	background-color:#000000 ;
	border-radius: 5px;
}
	/*
 * {
	border: 1px dashed red;
	min-height: 10px;
} **/

.post {
    width: 500px;
	color: white;
	background-color:#aeccc4 ;
    border: 1px solid white ;
	margin: 0 auto;
}

.header {
	display: flex;
	padding: 10px;
	/*flex-direction: column; /* Para colocar los elementos en columna */
}

.logo {
	font-size: 50px;
}

.puntos {
	font-size: 50px;
	margin-left: auto;
}

.head-title{
	margin-left:8px;
}

.image-post {
	width: 100%;
}

.imagen {
	width: 100%;

}